.__post_div {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    max-width: 1200px;
    min-height: 80vh;
    border: 2px solid #3D4352;
    border-radius: 3rem;
    margin-top: 3rem;
    box-shadow: 2px 3px #3D4352;
    margin: 2rem 2rem;
}

.__post_header {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 3rem;
    justify-content: center;
}
.__post_title_div {
    display: flex;
    width: 80%;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    
}
.__post_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
.__post_button {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 100%;
    justify-content: flex-end;
    align-self: center;
    margin-bottom: 3rem;
}


    .__post_content {
        color: #3D4352;
        padding: 3rem;
    }
    .__post_content>p {
        text-align: left;
    }